@page "{articleId?}/{articleVersionId?}"
@using Westwind.AspNetCore.Markdown
@model LolipWikiWebApplication.Pages.Article.ArticleDetailModel
@{
    ViewData["Title"] = "Article Detail";
}
<div id="pageArticleDetail" class="container">
    <div class="row">
        <div class="col-sm-5">
            <h1>@Model.Version.Title</h1>
        </div>
        <img class="col-sm-2" src="@Model.Version.TitleImage" alt="Image Path seems broken, maybe check it">
    </div>


    <div id="editor" style="min-height: 550px;">
        @Markdown.ParseHtmlString(Model.Version.Content)
    </div>

    <div class="btn-group" role="group">
        <a class="btn btn-primary active" href="@(Url.Page("/Article/Index"))">Back</a>
    </div>
</div>