@model Exception
@{
    ViewData["Title"] = "Unknown Error";
}

<div class="container">
    <div class="row">
        <div class="col">
            <img class="img-fluid" src="~/images/MapleAndTheTrampLG3.png"/>

        </div>
        <div class="col">
            <div class="row">
                <div class="alert alert-danger" role="alert">
                    <h3 style="font-weight: bold;">
                        <span class="badge bg-secondary">lolipNo</span> someone chewed the wrong cable, AGAIN
                    </h3>
                    <h6>If some CodeMonkey asks which Cable, just throw this nerd shet at them:</h6>
                    <textarea class="form-control" disabled="disabled" rows="15">
                        @Model
                    </textarea>
                </div>

            </div>
        </div>

    </div>
</div>